:root {
    --header-blue: #0044ff;
    --button-blue: #0f7dd89a;
    --button-gray: #dce0e2;
    --button-red: #f00d0d;
    --card-blue: #298eec;
}

* {
    font-family: Arial, Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}

header {
    background: rgb(13,1,97);
    background: linear-gradient(90deg, rgba(0, 4, 255, 0.404) 0%, rgba(54, 108, 189, 0.712) 41%, rgba(4, 206, 247, 0.548) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

aside {
    display: flex;
    flex-direction: column;
    float: left;
    padding-right: 1%;
    margin-right: 1%;
    height: auto;
}

#search-box {
    margin-bottom: 10%;
}

#search-button {
    width: 175px;
    display: inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: var(--button-blue);
    border: solid 2px var(--button-blue);
    border-radius: 4px;
    color: white;
}

#search-button:hover {
    background-color: #3488e7;
}

.btn {
    width: 175px;
    display: inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: var(--button-gray);
    border: solid 2px var(--button-gray);
    border-radius: 4px;
    color: black;
}

.btn:hover {
    background-color: #c2cde4;
}

.history {
    margin-top: 8%;
}

#clear-button {
    margin-top: 8%;
    width: 175px;
    display: inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: var(--button-red);
    border: solid 2px var(--button-red);
    border-radius: 4px;
    color: white;
}

#clear-button:hover {
    background-color: #ff5b5b;
}

#forecast-body {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.data {
    line-height: 20px;
}

#selected-city {
    display: flex;
    flex-direction: column;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
}

#city-header-bar {
    display: inline-flex;
}

#city-header-bar h2 {
    margin-right: 1%;
}

img {
    background-color: rgba(22, 177, 224, 0.322);
    border-radius: 12px;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: var(--card-blue);
    color: white;
    margin-right: 2%;

}